/*fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/*common start*/
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000000;

}
/*common end*/
/*header start*/
header{
	padding: 15px 0;
	background-color: #F0FFF0;
}
.c_nav{

}
.logo{}
.menu{}
.menu ul li a{
	padding: 0 25px !important;
	color: #000000 !important;
}
.menu ul li a:hover{
		color: #FD511A !important;
}
.btn_c{
	font-family: 'Roboto', sans-serif;
	color: white !important;
	background: #21B573;
	border-radius: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn_unic{
	margin-left: 15px;
/*	padding: 12px 28px;*/
	width: 105px;
	height: 45px;
}
.btn_c:hover{
	background: #FD511A !important;
}
.btn_c:active{
	background: #FD511A;
}
/*header end*/

/*banner start*/
.banner{
	padding-bottom: 65px;
	background-color: #F0FFF0;
}
.b_content{}
.b_p1{
	color: #FD511A;
	line-height: 24px;
}
.b_h1{
	margin: 10px 0 20px 0;
	font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 70px;
}
.b_h1 span{
	color: #21B573;
}
.b_p2{
	line-height: 36px;
}
.b_btn{
	margin-top: 15px;
	width: 155px;
	height: 45px;
}
.b_image{}
.b_image img{}
/*banner end*/